section{
    background-color:#f5f5dd ;
    width: 20em;
    height: 33em;
}
#kwadrat1{
    background-color: rgba(0,0,0, .9);
    height: 110px;
  width: 110px;
margin: 0 auto;
 margin-bottom: 5px;
  }
  #kwadrat2{
    background-color:rgba(0,0,0, .7);
    height: 110px;
  width: 110px;
  margin: 0 auto;
 margin-bottom: 5px;
  }
  #kwadrat3{
    background-color:rgba(0,0,0, .5);
    height: 110px;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 5px;
  }
  #kwadrat4{
    background-color:rgba(0,0,0, .3);
    height: 110px;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 5px;
  }